.DS_Store
/.build
/Packages
/Example
*.zip

FFPersistanceService\.xcodeproj/project\.xcworkspace/xcuserdata/fr3qfly\.xcuserdatad/

.swiftpm/xcode/package.xcworkspace/xcuserdata/fr3qfly.xcuserdatad/UserInterfaceState.xcuserstate

.swiftpm/xcode/package.xcworkspace/xcuserdata/fr3qfly.xcuserdatad/

ExampleProject/ExampleProject.xcodeproj/project.xcworkspace/xcuserdata/fr3qfly.xcuserdatad/
