<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i5</string>
			<key>CPUSpeedInMHz</key>
			<integer>2300</integer>
			<key>Identifier</key>
			<string>D31E94AA-D08C-5898-8418-3B4FA4B8243C</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>ModelCode</key>
			<string>iMac18,1</string>
			<key>ModelName</key>
			<string>iMac</string>
			<key>ModelUTI</key>
			<string>com.apple.imac-unibody-21-no-optical-2017</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.14.5</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.14.5 (18F132)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>2</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>My Mac</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i5</string>
			<key>CPUSpeedInMHz</key>
			<integer>2300</integer>
			<key>Identifier</key>
			<string>D31E94AA-D08C-5898-8418-3B4FA4B8243C</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>ModelCode</key>
			<string>iMac18,1</string>
			<key>ModelName</key>
			<string>iMac</string>
			<key>ModelUTI</key>
			<string>com.apple.imac-unibody-21-no-optical-2017</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.14.5</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.14.5 (18F132)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>2</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>macosx10.14</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>macOS 10.14</string>
			<key>OperatingSystemVersion</key>
			<string>10.14</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>PersistanceServiceTests-545E977F-0451-4EBB-8968-0D2E39A6FB97</string>
			<key>ProjectPath</key>
			<string>FFPersistanceService.xcodeproj</string>
			<key>TargetName</key>
			<string>PersistanceServiceTests</string>
			<key>TestKind</key>
			<string>xctest-tool hosted</string>
			<key>TestName</key>
			<string>PersistanceServiceTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.62914800643920898</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.62751400470733643</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.39002501964569092</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.13420403003692627</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testEmptyArrayDeletesValueOnUserDefaults()</string>
											<key>TestName</key>
											<string>testEmptyArrayDeletesValueOnUserDefaults()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>2566869F-0C3F-4AA2-B0B7-E9685FFDDECE</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0038450956344604492</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testEmptyValue()</string>
											<key>TestName</key>
											<string>testEmptyValue()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>0D28AB6D-9336-4C17-B11C-5769FCC7F559</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0018370151519775391</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testIntArrayOnUserDefaults()</string>
											<key>TestName</key>
											<string>testIntArrayOnUserDefaults()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>BD5A3AC2-0A19-4EF7-B22E-83BBA724C414</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.044661045074462891</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testKeychainPersistable()</string>
											<key>TestName</key>
											<string>testKeychainPersistable()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>CA4D4C4C-D89E-4C6F-BF6B-C63E7DA8874E</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0045371055603027344</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testKeychainPersistableOnUserDefaults()</string>
											<key>TestName</key>
											<string>testKeychainPersistableOnUserDefaults()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>F3615459-33E2-4B3F-9940-787583118C2A</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.045134067535400391</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testMockCodableOnKeychain()</string>
											<key>TestName</key>
											<string>testMockCodableOnKeychain()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>201757B7-7E19-4FB5-90C3-078AC7C8F860</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0050169229507446289</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testMockCodableOnUserDefaults()</string>
											<key>TestName</key>
											<string>testMockCodableOnUserDefaults()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>EDFB51E4-3076-4567-BB28-B42ABF9730BB</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.066053032875061035</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testPersistanceKeyRepresentable()</string>
											<key>TestName</key>
											<string>testPersistanceKeyRepresentable()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>49F3E219-F053-4C3E-85DF-6B49F4345055</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.07444298267364502</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testStringArrayOnKeychain()</string>
											<key>TestName</key>
											<string>testStringArrayOnKeychain()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5956931F-60A8-45C2-B67E-D1E0BE2339F4</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0031160116195678711</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testStringOnUserDefaults()</string>
											<key>TestName</key>
											<string>testStringOnUserDefaults()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>A8A946DC-7CC2-44CC-9E6D-2ED8ABD22956</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0020939111709594727</real>
											<key>TestIdentifier</key>
											<string>PersistableTests/testUserDefaultsPersistable()</string>
											<key>TestName</key>
											<string>testUserDefaultsPersistable()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>061E090F-6AF8-496D-9B45-400242A90E06</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>PersistableTests</string>
									<key>TestName</key>
									<string>PersistableTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.22634291648864746</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.035665988922119141</real>
											<key>TestIdentifier</key>
											<string>SecureStorageTests/testDelete()</string>
											<key>TestName</key>
											<string>testDelete()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8AA86BC2-40E9-4F39-89A2-5C09969E7440</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.040565967559814453</real>
											<key>TestIdentifier</key>
											<string>SecureStorageTests/testDeleteOnPersistableType()</string>
											<key>TestName</key>
											<string>testDeleteOnPersistableType()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>A901FF73-2E08-4E7A-A1DE-1D27C3EBC771</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.070243954658508301</real>
											<key>TestIdentifier</key>
											<string>SecureStorageTests/testOverwrite()</string>
											<key>TestName</key>
											<string>testOverwrite()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>623B69E7-78DB-4E21-8BBF-FF4935D7D909</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.035948038101196289</real>
											<key>TestIdentifier</key>
											<string>SecureStorageTests/testSave()</string>
											<key>TestName</key>
											<string>testSave()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>F9BC8B71-AE87-48BE-9C96-500EBA829BEB</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.039981961250305176</real>
											<key>TestIdentifier</key>
											<string>SecureStorageTests/testSaveOnPersistableType()</string>
											<key>TestName</key>
											<string>testSaveOnPersistableType()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>539DF4D5-ABEA-47CB-8648-CD8A3BEB5F2C</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>SecureStorageTests</string>
									<key>TestName</key>
									<string>SecureStorageTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.0086449384689331055</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0013729333877563477</real>
											<key>TestIdentifier</key>
											<string>UserDefaultsTests/testDelete()</string>
											<key>TestName</key>
											<string>testDelete()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>964F35AE-5517-4C71-A6A0-E88D0AFFB9EE</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0012559890747070312</real>
											<key>TestIdentifier</key>
											<string>UserDefaultsTests/testOverwrite()</string>
											<key>TestName</key>
											<string>testOverwrite()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>674A4467-1594-4055-961D-D59605FEC8EC</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0015048980712890625</real>
											<key>TestIdentifier</key>
											<string>UserDefaultsTests/testSave()</string>
											<key>TestName</key>
											<string>testSave()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>A2AF5F06-4968-4C63-98D5-B100A8BC14C7</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>UserDefaultsTests</string>
									<key>TestName</key>
									<string>UserDefaultsTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>PersistanceServiceTests.xctest</string>
							<key>TestName</key>
							<string>PersistanceServiceTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
