<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<true/>
				<key>LogPath</key>
				<string>1_Test/action.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestSummaryPath</key>
				<string>1_Test/action_TestSummaries.plist</string>
				<key>TestsCount</key>
				<integer>19</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>1_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2019-06-25T04:10:43Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>100</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i5</string>
					<key>CPUSpeedInMHz</key>
					<integer>2300</integer>
					<key>Identifier</key>
					<string>D31E94AA-D08C-5898-8418-3B4FA4B8243C</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>ModelCode</key>
					<string>iMac18,1</string>
					<key>ModelName</key>
					<string>iMac</string>
					<key>ModelUTI</key>
					<string>com.apple.imac-unibody-21-no-optical-2017</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.14.5</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.14.5 (18F132)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>2</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>My Mac</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>100</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i5</string>
					<key>CPUSpeedInMHz</key>
					<integer>2300</integer>
					<key>Identifier</key>
					<string>D31E94AA-D08C-5898-8418-3B4FA4B8243C</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>ModelCode</key>
					<string>iMac18,1</string>
					<key>ModelName</key>
					<string>iMac</string>
					<key>ModelUTI</key>
					<string>com.apple.imac-unibody-21-no-optical-2017</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.14.5</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.14.5 (18F132)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>2</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>macosx10.14</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>macOS 10.14</string>
					<key>OperatingSystemVersion</key>
					<string>10.14</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>BuildAndAction</string>
			<key>StartedTime</key>
			<date>2019-06-25T04:10:27Z</date>
			<key>Title</key>
			<string>Testing project FFPersistanceService with scheme FFPersistanceService-Package</string>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/fr3qfly/Developer/@Fr3qFly_Dev/PersistanceService/FFPersistanceService.xcodeproj</string>
	<key>ErrorCount</key>
	<integer>0</integer>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>SchemeIdentifier</key>
	<dict>
		<key>ContainerName</key>
		<string>FFPersistanceService project</string>
		<key>EntityName</key>
		<string>FFPersistanceService-Package</string>
		<key>EntityType</key>
		<string>scheme</string>
		<key>SharedState</key>
		<string>shared</string>
	</dict>
	<key>TestSummaryPath</key>
	<string>/Users/fr3qfly/Developer/@Fr3qFly_Dev/PersistanceService/.build/xcode/Logs/Test/Test-FFPersistanceService-Package-2019.06.25_14-10-27-+1000.xcresult/TestSummaries.plist</string>
	<key>TestsCount</key>
	<integer>19</integer>
	<key>TestsFailedCount</key>
	<integer>0</integer>
	<key>WarningCount</key>
	<integer>0</integer>
</dict>
</plist>
